.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
}

ul {
  list-style: none;
  text-align: left;
}

li {
  padding: 15px;
  border-bottom: 1px solid black;
}

.main-content {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  width:800px;
  height: 500px;
  background-color: red;
}

.input-form {
  display: flex;
  margin: auto;
}

button {
  height: 25px;
  margin: 25px;
  width: 150px;
}

.current-song {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 650px;
  justify-content: space-between;
}


.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input {
  height: 25px;
}

.left-button  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: green;
  width: 150px;
}

.right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 150px;
  background-color: blue;
}

.player {
  visibility: visible;
}

.title {
  margin: 0;
}
