.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}


ul {
  list-style: none;
  text-align: left;
}

li {
  padding: 15px;
  border-bottom: 1px solid black;

}

.main-content {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  height: 85%;
}

.current-song {
  
}
.input-form {
  display: flex;
  margin: auto;

}

button {
  height: 25px;
  margin: 25px;
}

input {
  height: 25px;
<<<<<<< HEAD
}

.left-button  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: green;
  width: 150px;
}

.right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 150px;
  background-color: blue;
}

.player {
  visibility: visible;
}

.title {
  margin: 0;
}
=======
}
>>>>>>> parent of cdd70c9 (everything it's working, go css now !)
